@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-shadow {
  box-shadow: 0 5px 10px 2px rgb(0 0 0 / 0.25);
}

.swiper-pagination-bullet-active {
  background-color: #6228c1 !important;
}

.swiper-button-prev, .swiper-button-next  {
  color: #6228c1 !important;
}