@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.button-shadow {
  box-shadow: 0 5px 10px 2px rgb(0 0 0 / 0.25);
}

.swiper-pagination-bullet-active {
  background-color: #1c1d20 !important;
}

.swiper-button-prev, .swiper-button-next  {
  color: #1c1d20 !important;
}

.swiper-button-next {
  margin-right: 90px;
}

.swiper-button-prev {
  margin-left: 90px;
}

.footer-curved {
  position: relative;
  overflow: hidden;
  background-color: #1c1d20;
}

.footer-curved::before {
  background: white;
  position: absolute;
  content: "";
  left:0;
  right:0;
  top: -25px;
  height: 100px;
  border-radius: 0 0 50% 50%;
}